/* Structure articles & images à utiliser sur chaque page*/

body .bloc-page-sushi { 
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 30px;
    width: auto;
    text-align: center;
  }
.article-food p {
  text-align: justify;
}
.article-food figure {
  color: #f1535c;
  font-size: 1.5em;
}

.price-tag {
  background-color: #696969;
  color: white;
  border-radius: 4px;
  padding: 0px 2px;
}

.food-tag {
  color: white;
  border-radius: 4px;
  background-color: #f1535c;
  padding: 0px 2px;
}

.food-tag-veggie {
  background-color: #66CDAA;
  color: white;
  border-radius: 4px;
  padding: 0px 2px;

}


/* Fin structure articles & images à utiliser */

/* Responsive design */
/* For mobile */
@media screen and (max-width: 768px) { 
    body .bloc-page-sushi { 
      margin: 0;
      grid-template-columns: 100%;
    }
   .bloc-page-sushi .article-food {
       text-align: center;
       padding: 5%;
    }
    .bloc-page-sushi .article-food figure {
      margin: 0;
      width: 100%;
    }
    .bloc-page-sushi .article-food figure img {
      width: 100%;
    }
    .bloc-page-sushi .article-food p {
      margin-top: 10px;
      width: 90%;
    } 
  }