/*.sushi {
  width: 50px;
  height: 50px;
  background: #999;
  border-radius: 50px;
  display: inline-block;
  margin: 0 24.7px;
  float: left;
  transition: all .2s ease-out;
}
*/
.sushi {
  background: url("Images/sushi-resize.png");
  width: 50px;
  height: 100px;
  display: inline-block;
  /*float: left;*/
  transition: all .2s ease-out;
  margin: 0px 50px;
  border: 1px solid pink;
}

.sushi:hover {
  transform: scale(1.2);
  opacity: .5;
  cursor: pointer;
}

.slide-sushi {
  height: 100px;
  width: 100%;
  overflow: hidden;
  /*box-sizing: border-box;*/
  position: relative;
  margin: 50px auto;
  border: 1px solid yellow;
}

.slide-sushi--inner {
  display: block;
  width: 200%;
  margin: 70px 0;
  position: absolute;
  animation: marquee 7s linear infinite;
  border: 1px solid blue;
  top: -30%;
}

.slide-sushi--inner:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

/* Structure articles & images à utiliser sur chaque page*/


body .bloc-page-sushi { 
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 30px;
    width: auto;
    text-align: center;
  }
.article-food p {
  text-align: justify;
}
.article-food figure {
  color: #f1535c;
  font-size: 1.5em;
}

.price-tag {
  background-color: #696969;
  color: white;
  border-radius: 4px;
  padding: 0px 2px;
}

.food-tag {
  color: white;
  border-radius: 4px;
  background-color: #f1535c;
  padding: 0px 2px;
}

.food-tag-veggie {
  background-color: #66CDAA;
  color: white;
  border-radius: 4px;
  padding: 0px 2px;

}


/* Fin structure articles & images à utiliser */

/* Responsive design */
/* For mobile */
@media screen and (max-width: 768px) { 
    body .bloc-page-sushi { 
      margin: 0;
      grid-template-columns: 100%;
    }
   .bloc-page-sushi .article-food {
       text-align: center;
       padding: 5%;
    }
    .bloc-page-sushi .article-food figure {
      margin: 0;
      width: 100%;
    }
    .bloc-page-sushi .article-food figure img {
      width: 100%;
    }
    .bloc-page-sushi .article-food p {
      margin-top: 10px;
      width: 90%;
    } 
  }