/* Structure articles & images à utiliser sur chaque page*/

body .bloc-page { 
    margin: 5%;
  }

.article-monuments {
    display: flex;
    flex-direction: row;
    width: auto;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
.article-monuments p {
  text-align: justify;
  width: 70%;
}
.article-monuments figure {
  margin-right: 50px;
  color: #f1535c;
  font-size: 1.5em;
  width: auto;
}

/* Fin structure articles & images à utiliser */

/* Responsive design */
/* For mobile */
@media screen and (max-width: 768px) { 
    body .bloc-page { 
      margin: 0;
    }
    .bloc-page .article-monuments {
      flex-direction: column;
      align-items: center;
    }
    .bloc-page .article-monuments figure {
      margin: 0;
      width: 100%;
    }
    .bloc-page .article-monuments figure img {
      width: 100%;
    }
    .bloc-page .article-monuments p {
      margin-top: 10px;
      width: 90%;
    }
  }