/*Définition des couleurs :
pour la police : 
rouge : #b41b0f
gris : #333
rose : #f1535c
*/

/* For tablets and laptops */

/* Elements principaux de la page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  padding-bottom: 70px;
}

@font-face {
  font-family: "Kalam-Bold";
  src: url("Kalam-Regular.ttf");
}
h1 {
  color: #f1535c;
  font-size: 3em;
  font-family: 'Kalam', cursive;
  margin-bottom: 30px;
  }

h2 {
  color: #f1535c;
  font-weight: bold;
  font-family: 'Kalam', cursive;
  text-align: center;
  padding: 10px;
}
 
h3 {
  font-family: calibri, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  background-color: #f1535c;
  display: inline;
}

p {
  color: #333;
  font-family: calibri, sans-serif;
  line-height: 1.5;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
figcaption {
  font-family: 'Kalam', cursive;
}
/* Elements principaux de la page */

nav {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Kalam", cursive;
}
nav .mainMenu li a:hover {
  background: rgb(255, 94, 0);
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.fa-facebook:hover {
  color: rgb(0, 110, 255);
}
.fa-twitter:hover {
  color: rgb(86, 154, 243);
}
.fa-instagram:hover {
  color: rgb(255, 0, 191);
}
.fa-github:hover {
  color: rgb(255, 123, 0);
}

nav .logo {
  margin: 6px;
  font-size: 25px;
  cursor: pointer;
}
@media (max-width: 800px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: top 1s ease;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
    font-size: 1.6rem;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}


.img-anime {
  width: 100%;
}

/* Début footer */
#social {
  display: flex;
  justify-content: center;
}
#social img {
  width: 100%;
  filter: grayscale(1);
}

#social img:hover {
  filter: grayscale(0);
}

.icons{
  display: inline-block;
  width: 40px;
  height: 40px;
}
#footerLink {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
.linkFooter {
  color: #f1535c;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
footer{
  margin: 0;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  position: fixed;
  bottom: 0;
  z-index: 99;
  background-color: white;
  width: 100%;
  box-shadow: 0 -10px 70px -18px black;
}
/* Fin footer */

/* Début legal_notice */
#titleLegal{
  text-align: center;
  padding: 5%;
}
#lorem {
  margin: 0 10%;
  text-align: justify;
  padding-bottom: 5%;
}
/* Fin legal_notice */

/* Responsive design */
/* For mobile */
@media screen and (max-width: 768px) {
  .categories {
    flex-wrap: wrap;
  }

  article {
    flex-direction: column;
    align-items: center;
  }

  .icons {
    width: 30px;
    height: 30px;
  }

}

/*Contact Us*/
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/*Contact Us*/
/*Map*/
.MapTxt {
  color: #f1535c;
  font-family: "Kalam", cursive;
  text-align: center;
}

/* Début bouton top */
@media screen and (min-width: 769px) {
  .topButton {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 150px;
    background-color: #f1535c;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    right: 20px;
    opacity: 0.3;
    transition : opacity 0.3s ease; 
    color: white;
    display: block;
  }
  .topButton:hover {
    opacity: 1;
    cursor: pointer;
  }
}
/* Fin bouton top */